@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");


@import 'tailwindcss';

@theme {
  --font-body: "Bricolage Grotesque", sans-serif;
  --font-sora: "Sora", sans-serif;
  /* --font-display: 'Barlow', system-ui, sans-serif; */

  --color-navy-50: #f0f4f8;
  --color-navy-100: #d9e2ec;
  --color-navy-200: #bcccdc;
  --color-navy-300: #9fb3c8;
  --color-navy-400: #829ab1;
  --color-navy-500: #486581;
  --color-navy-600: #334e68;
  --color-navy-700: #243b53;
  --color-navy-800: #102a43;
  --color-navy-900: #0a1929;
  --color-accent-blue: #1e88e5;
  --color-accent-teal: #00acc1;
  --color-accent-amber: #ffb300;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-navy-50 text-navy-900 font-body font-light;
  }
}

@layer components {
  .btn-primary {
    @apply bg-linear-to-tl from-navy-700 to-green-300 text-white border border-navy-50/30 px-6 py-3 rounded-md font-semibold hover:bg-navy-800 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-accent-blue focus:ring-offset-2 cursor-pointer inset-shadow-navy-700 inset-shadow-sm overflow-hidden;
  }
  
  .btn-secondary {
    @apply bg-white text-navy-800 border border-navy-300 px-6 py-3 rounded-md font-semibold hover:bg-navy-50 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-navy-300 focus:ring-offset-2 cursor-pointer inset-shadow-navy-700 inset-shadow-sm;
  }
  
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 md:py-24;
  }
   .container{
    @apply max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 lg:px-0 py-16 md:py-24; 
    /* @apply max-w-[2920px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0;  */
  }
  
  .section-title {
    @apply text-3xl md:text-[48px] leading-normal md:leading-15 text-navy-800 mb-4;
  }
  
  .section-subtitle {
    @apply text-lg text-navy-600 max-w-3xl mx-auto mb-12;
  }
  
  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
  }
}