@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");


@import 'tailwindcss';

@theme {
  --font-body: "Bricolage Grotesque", sans-serif;
  --font-sora: "Sora", sans-serif;
  /* --font-display: 'Barlow', system-ui, sans-serif; */

  --color-navy-50: #f0f4f8;
  --color-navy-100: #d9e2ec;
  --color-navy-200: #bcccdc;
  --color-navy-300: #9fb3c8;
  --color-navy-400: #829ab1;
  --color-navy-500: #486581;
  --color-navy-600: #334e68;
  --color-navy-700: #243b53;
  /* --color-navy-700: #0A1F44; */
  --color-navy-800: #102a43;
  --color-navy-900: #0a1929;
  --color-accent-blue: #1e88e5;
  --color-accent-teal: #00acc1;
  --color-accent-amber: #ffb300;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-navy-700 font-body font-light;
  }
}

@layer utilities{
  .container{
    /* @apply max-w-2xl mx-auto px-4 sm:px-6 md:px-8 lg:px-0 py-16 md:py-24;  */
    @apply max-w-[1920px] mx-auto px-4 sm:px-6 md:px-8 py-16 md:py-24; 
  }
}

@layer components {
  .btn-primary {
    @apply bg-linear-to-tl from-navy-700 to-cyan-300 text-white border border-navy-50/30 px-6 py-3 rounded-full font-medium hover:bg-navy-800 hover:scale-[1.02] transition-all duration-200 focus:outline-none cursor-pointer inset-shadow-navy-700 inset-shadow-sm overflow-hidden;
  }
  
  .btn-secondary {
    @apply bg-navy-700 text-white border border-navy-300 px-6 py-3 rounded-full font-medium hover:bg-navy-800 hover:scale-[1.02] transition-all duration-200 focus:outline-none cursor-pointer inset-shadow-navy-700 inset-shadow-sm overflow-hidden;
  }
  
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 md:py-24;
  }
  
  .section-title {
    @apply text-[26px] md:text-[48px] leading-normal md:leading-15 text-navy-800 mb-2 md:mb-4;
  }
  
  .section-subtitle {
    @apply max-w-3xl mx-auto text-lg md:mb-12 mb-6;
  }
  
  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
  }
}